[submodule "bgfx"]
	path = bgfx
	url = https://github.com/xuwei17385/bgfx.git
[submodule "bimg"]
	path = bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "bx"]
	path = bx
	url = https://github.com/bkaradzic/bx.git
